
<div class="imgSelector">
    <form action="/search" method="POST">
       <input type="text" id="search" name="search" placeholder="Search Photos"></input>
       <input type="submit" id="searchButton" value="Search"></button>
    </form>
    
    <a href="https://www.pexels.com">Photos provided by Pexels</a>
    <div class="imgBox">
        <% if(result.photos.length > 0) { %>
        <% for(let i = 0; i < result.photos.length; i++) { %>
            <button class="imageTile" value='<%= result.photos[i].id %>' onclick=NextStep(this.value)>
               <img src='<%= result.photos[i].src.small %>' alt='<%= result.photos[i].alt %>'/>
               <p>
                Photographer: 
               </p>
            <a href='<%= result.photos[i].photographer_url %>'>
                <%= result.photos[i].photographer %>
            </a>
            </button>
        <% } %>
            <div class="next_prev">
                <% if(result.prev_page) {%>
                    <span>
                        <button onclick=PrevPage()>
                           ◀ 
                        </button>
                         <%= result.page %>
                    </span>
                    <% } %>
                <% if(result.next_page) {%>
                   <span>
                       <%= result.page + 1 %> 
                       <button onclick=NextPage()>
                            ▶
                        </button>
                   </span>
                <% } %>
            </div>
        <% } else{ %>
             <h3><%= error %></h3>
        <% } %>  
    </div>

</div>

<script>

    function PrevPage(){
        fetch("/prevpage", {
            method: 'POST',
        }).then(result =>{
            location.reload(); 
        })
    }
    function NextPage() {
            fetch("/nextpage", {
                method: 'POST',
            }).then(result => {
                location.reload();
            })
    }
    function NextStep(id) {
        const photoID = id;
        // 1. Serialize the body to JSON
        const dataToSend = { id:  photoID, step: 2};

        fetch("/step-two", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataToSend),
        }) .then(result => {
            location.reload();
        })
    }
</script>