
<div class="imgSelector">
    <form action="/search" method="POST">
       <input type="text" id="search" name="search" placeholder="Search Photos"></input>
       <input type="submit" id="searchButton" value="Search"></button>
    </form>
    
    <a href="https://www.pexels.com">Photos provided by Pexels</a>
    <div class="imgBox">
        <% if(picResults.length > 0) { %>
        <% for(let i = 0; i < picResults.length; i++) { %>
            <div class="imageTile">
               <img src='<%= picResults[i].src.small %>' alt='<%- picResults[i].alt %>'/>
               <p>
                Photographer: 
               </p>
            <a href='<%= picResults[i].photographer_url %>'>
                <%= picResults[i].photographer %>
            </a>
            </div>
        <% } %>
            <div class="next_prev">
                <% if(prevpage) {%>
                    <span>
                        <button onclick=PrevPage()>
                           ◀ 
                        </button>
                         <%= currentpage %>
                    </span>
                    <% } %>
                <% if(nextpage) {%>
                   <span>
                       <%= currentpage + 1 %> 
                       <button onclick=NextPage()>
                            ▶
                        </button>
                   </span>
                <% } %>
            </div>
        <% } else{ %>
             <h3><%= error %></h3>
        <% } %>  
    </div>

</div>

<script>
    function PrevPage(){
        fetch("/prevpage", {
            method: 'POST',
        }).then(result =>{
            location.reload(); 
        })
    }
    function NextPage() {
            fetch("/nextpage", {
                method: 'POST',
            }).then(result => {
                location.reload();
            })
        }
</script>